*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: RepriseTitleStd;
    background: #FAFAFA;
    font-size: 25px;
}

/* UTILITIES
   ========= */

.u-centered {
    text-align: center;
}

.u-margin-left {
    margin-right: 10px;
}

.u-margin-right {
    margin-right: 5px;
}

.u-margin-right-l {
    margin-right: 10px;
}

.u-margin-top {
    margin-top: 10px;
}

.u-margin-top-l {
    margin-top: 20px;
}

.u-large {
    font-size: 1.5em;
}

.u-extra-large {
    font-size: 2.5em;
}

.u-bold {
    font-weight: bold;
}

.u-clearfix {
    clear: both;
}

.u-left {
    float: left;
}

.u-flex {
    display: flex;
    flex-wrap: wrap;
}

.u-flex-center {
    justify-content: space-around;
}

/* LAYOUT
   ====== */

.l-content {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 25px;
}

.l-row {
    margin: 0 -10px;
}

.l-row::after {
    content: '';
    display: block;
    clear: both;
}

.l-col-6 {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.l-col-3 {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* COLORS
   ====== */

.success {
    color: #0a8;
}

.failure {
    color: #E55;
}

.u-muted {
    color: #3C3A47;
}

.u-strikethrough {
    text-decoration: line-through;
}

/* MODULES
   ======= */

.btn {
    display: inline-block;
    color: #009EDD;
    background: none;
    border: none;
    font: inherit;
    font-weight: 600;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

.btn:hover, .btn:active {
    color: #008eff;
}

.player__thumb {
    width: 170px;
}

.guess-key {
    background: none;
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px #aaa;
    border-radius: 10px;
    width: 13%;
}

.guess-key:active,
.guess-key:focus {
    outline: none;
}

.guess-key--red {
    background: #F55;
    box-shadow: 3px 3px 5px #E44;
    border: none;
    color: F77;
    text-decoration: line-through;
}

.guess-key--green {
    background: #0A8;
    box-shadow: 3px 3px 5px #1B9;
    border: none;
    color: #3DA;
}
